.calculadora{
display: block;
margin:0 auto;
padding: 20px;
background-color: aqua;
width: 337px;
height: 640px;
border-radius: 25px;
}
.calculadora td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 30px;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(144, 156, 158);
    overflow: scroll;
}